# Gui
public net.minecraft.client.gui.GuiGraphicsExtractor innerBlit(Lcom/mojang/renderpearl/api/pipeline/RenderPipeline;Lnet/minecraft/resources/Identifier;IIIIFFFFI)V
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen leftPos
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen topPos
